<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Ratings</title>
  </head>
  <body>
    <h1>MovieFinder Ratings</h1>

    <form>
    	<input type="search" name="title">
    	<button type="search">Find Movie</button>
    </form>

    <h2><%= @movie.title + " " + @movie.year %></h2>
   
    <p><%= @movie.rating %></p>
    <p><%= @movie.tomatoes %></p>
    <p><%= @movie.plot %></p>

     
  </body>
</html>